<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Forschungsdokumentation RaGu | </title>
    <meta name="description" content="Forschungsdokumentation am LFZ Raumberg-Gumpenstein">
    <meta name="author" content="Albin Blaschka">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet" />
	
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />
	<link href="css/fodok.css" rel="stylesheet" />
    
	<!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">www.standortsanalyse.net - Archiv</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="about.html">Über</a></li>
              <li><a href="contact.html">Kontakt</a></li>
			  <li><a href="contact.html">English abstract</a></li>	
            </ul>
            <p class="navbar-text pull-right">&copy; 2012 <a href="http://www.standortsanalyse.net">www.standortsanalyse.net</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      
		<div class="row-fluid">
        <div class="span3">
        </div><!--/span-->


        <div class="span9">
          <div class="hero-unit callo">
            <h1 id="callout">Der Truppenübungsplatz Hochfilzen: Landschaft, Nutzung, Hemerobie und Diversität - Eine vegetationsökologische Untersuchung</h1>
            <p>Diplomarbeit zur Erlangung des Magistergrades an der naturwissenschaftlichen Fakultät der Universität Salzburg<br />
			   Eingereicht von Albin Blaschka; Betreuung: univ.Prof. P. Heiselmayer - Kontakt: albin.blaschka@standortsanalyse.net</p>
          </div>
		<div class="row">
			<div class="span8">
				<p>Einleitungstext...was warum und überhaupt...<br />
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
					 massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				</p>
			</div>
		</div>

          <div class="row-fluid">
            <div class="span4">
              <h2>1. Einführung</h2>
              <p>Ein kurzer Text, der die Kernbegriffe der Arbeit vorstellt, die in den nächsten Kapiteln näher dargestellt werden. 
				</p>
              <p><a class="btn" href="#">Zum Kapitel &raquo;</a></p>
            </div><!--/span-->

            <div class="span4">
              <h2>2. Von der Landschaft zum Biotop</h2>
              <p>Die Landschaft ist der Bezugsrahmen der Arbeit und das System, in dem der Einfluss des Menschen auf allen Ebenen wirksam wird.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->

            <div class="span4">
              <h2>3. Diversität</h2>
              <p>"Diversität" kann auf vielerlei Weise verstanden werden - es werden hier die unterschiedlichen Ebenen vorgestellt und eine Definition vorgestellt.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span4">
              <h2>Biodiversität &amp; Landschaft: Eine Synthese</h2>
              <p>Es werden die Einflüsse und die Wechselwirkungen in der Landschaft anhand der vorgestellten Begriffe dargestellt, und ein einheitliches System vorgestellt.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->

            <div class="span4">
              <h2>5. Hemerobie</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->

            <div class="span4">
              <h2>6. Problemstellung</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->

		  <div class="row-fluid">
			 <div class="span4">
              <h2>7. Methode</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
			
			<div class="span4">
              <h2>8. Untersuchungsgebiet</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
			
			<div class="span4">
              <h2>9. Ergebnisse</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->

		 <div class="row-fluid">
			 <div class="span4">
              <h2>10. Diskussion</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
      </div><!--/row-->


      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>
</html>
